html {
  background-color: #eee;
}

body {
  font: 1em/1.5 sans-serif;
  max-width: 40em;
  margin: 0 auto;
  padding: 0;
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body > header {
  background-color: #dddddd66;
  padding: 0 calc(50vw -  (100% / 2) + 2em);
  margin: 0 calc(-50vw + (100% / 2));
  overflow: hidden;
}

body > main {
  padding: 1em 2em;
  flex-grow: 2;
}

body > footer {
  background-color: #dddddd66;
  padding: 0 calc(50vw -  (100% / 2) + 2em) 1em;
  margin: 0 calc(-50vw + (100% / 2));
  overflow: hidden;
}

header > code,
main > code,
footer > code {
  float: right;
  position: relative;
  left: 2em;
}

main > code {
  top: -1em;
}

section {
  border: 1px solid #eee;
  margin: 0 -1em 1em;
}

section > * {
  padding-left: 1em;
  padding-right: 1em;
}

section > header,
section > footer {
  background-color: #eee;
  padding: .5em 1em;
}

section > header + * {
  margin-top: 1em;
}

section > header > h2 {
  margin: 0;
  padding: 0;
}
